:root {
    --white: #fff;
    --ice-blue: #eff9ff;
    --greyish-brown: #4a4a4a;
    --button:#f26002;
    --bgdark:#304268;
    --texstyle:"Roboto",sans-serif;
    --titlestyle:"Roboto Slab",serif;
  }