.sec3{
    width: 100%;
    height:624px ;
    background-color: #eff9ff;
    font-family:sans-serif;
}
.reasons{
    display: flex;
    justify-content: center; 
    font-size: 25px;
    padding: 30px;
    
    
}

.table{
   
    display:grid;
    grid-template-columns: 1fr;
    text-align: center;
    margin-top: 10px;
    background-color:#eff9ff;
    gap: 20px;
    font-size:20px;
    padding: 30px 30px 50px;

    
}
h5{
    font-size:25px;
}


.naranja{
    
    display:flex;
    justify-content: center;  
}
.naranja:hover{

    transform: translateY(-20px);
}
.boton{
   display:block;
   
   align-items: center;
   margin-left: 20px;
   font-size: 25px;
   width: 250px;
   height: 55px;
   background-color: var(--button);
   border-radius: 23px;
   color: white;
 
   }


   @media all and (min-width:780px) {

    .table{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        font-size:25px ;
        margin:40px;

    }
    .sec3{

        height: 397px;
    }
    .reasons{
        font-size: 40px;
    }

    .naranja{
        grid-column: -3/-2;
        
       
    }
    .boton{

        width: 300px;
       
    }

   }


   @media all and (min-width:1024px) {

    .table{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        font-size:25px ;
        margin:40px;

    }
    .reasons{
        font-size: 40px;
    }

    .naranja{
        position: sticky;
        margin-top: 10%;
       
    }
    .boton{
        

        width: 300px;
        
    }

   }
