<footer class="footer">
    
    <section class="articles">
        
            <div class="imgup">
                <a href="#header" id="header"><img class="botup" src="./images/ico-arrow.png" alt="up">
                </a>
            </div>


        <ul class="events">
            <li><a href="https://adalab.es/">ARTICLESS</a></li>
            <li><a href="https://adalab.es/">BOOKS</a></li>
            <li><a href="https://adalab.es/">EVENTS</a></li>
            <li><a href="https://adalab.es/">REASONS</a></li>
            <li><a href="https://adalab.es/">TIPS</a></li>
        </ul>

        <ul class="redes">
            <li><a href="https://adalab.es/">TWITTER</a></li>
            <li><a href="https://adalab.es/">INSTAGRAM</a></li>
            <li><a href="https://adalab.es/">MASTODONT.SOCIAL</a></li>
        </ul>
        
        <div class="love">
            <p>@2022</p>
            <p> We ❤︎ components</p>
        </div>
        
        
        

    </section>
    

   
</footer>