<section class="sec3" id="reasons" >
    <h3 class="reasons">3 Reasonns To Purchase</h3>
    <article class="table">
        <div><h5>titulo1</h5>
            <p>Lorem ipsum dolor sit, amet consectetur .</p>
        </div>
          
         <div><h5>titulo2</h5>
            <p>Lorem ipsum dolor sit, amet consectetur .</p>
        </div>

        <div><h5>titulo3</h5>
            <p>Lorem ipsum dolor sit, amet consectetur .</p>
        </div>
          

     <div class="naranja">
        <button class="boton">More reasons</button>
    </div>
            
        

        
    </article>

   
    
</section>